<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.iteco.fmhandroid.test">

    <!-- Указание тестового раннера для Android -->
    <instrumentation
        android:name="androidx.test.runner.AndroidJUnitRunner"
        android:targetPackage="ru.iteco.fmhandroid" />

</manifest>


